@charset "UTF-8"

body
{
  background-color:PeachPuff;
  background-image:url(./potato.jpeg);
  background-repeat:repeat-x;
}

h1 span
{
  font-size:108px;
  text-align:center;
}
  
#bold
{
  line-height:50px;
  font-weight:bold;
  text-align:center;
}

.coloring
{
  color:SpringGreen;
  background-color:LightSteelBlue;
}

.p
{
  border:Crimson 3px dotted;
}
