@charset "UTF-8"

body
{
  background-color:PeachPuff;
  background-image:url(./potato.jpeg);
  background-repeat:repeat-x;
  text-align:center;
}

p.line
{
  border:Crimson 1px dotted;
}

h1 span
{
  font-size:108px;
}
  
#bold
{
  line-height:50mm;
  font-weight:bold;
}

.coloring
{
  color:SpringGreen;
  background-color:LightSteelBlue;
}


